<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %></h1>
    <p>
      Ta boutique <%= @shop.name %> a bien été crée.
    </p>
    <p>
      Rdv sur le site pour voir ta boutique: <%= @url %>.
    </p>
    <p> À très vite sur Le Moulin !
  </body>
</html>